#title {
  background-color: #ff4c68;
  color: white;
  padding-bottom: 30px;
}
h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}
.container-fluid {
  padding: 3% 15%;
}
h3 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: bold;
}
body {
  font-family: "Montserrat-Black", sans-serif;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.navbar-brand {
  font-family: "ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}
.dbutton {
  margin: 5% 3% 5% 0;
}

/* iphone image */
.iphone {
  width: 300px;
  transform: rotateZ(20deg);
  position: absolute;
}

/* features */

#features {
  background-color: white;
  position: relative;
  z-index: 1;
  padding-top: 90px;
  padding-bottom: 90px;
}

.icon-heading {
  margin-top: 10px;
  font-family: "Montserrat";
  font-weight: 800;
  text-align: center;
  font-size: 1.5rem;
}

.icon-color {
  color: #ef8172;
  margin: 0 40%;
}

.iconp {
  font-family: "Montserrat";
  font-size: 1rem;
  text-align: center;
  color: #8f8f8f;
}

.icon-color:hover {
  color: #ff4c68;
  transform: scale(1.333);
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
}
.t-img {
  border-radius: 100%;
  width: 15%;
  padding: 20px 10px;
}

/* press */
#press {
  background-color: #ef8172;
  padding-bottom: 50px;
  text-align: center;
}
.p-img {
  width: 20%;
  padding: 20px 20px 40px;
}
.carousel-item {
  padding: 7% 15%;
}

/* pricing */
#pricing h2 {
  color: black;
}
#pricing {
  padding: 100px;
  text-align: center;
}

.price-col {
  padding: 3% 2%;
}

/* cta */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 90px 150px;
}

#cta h3 {
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
}
.cta-btn {
  margin: 5% 3% 4% 0;
  padding-right: 20px;
  padding-left: 20px;
}

/* footer */
#footer {
  background-color: #fff;

  font-family: "montserrat";
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: bold;
}
#footer p{
  color: #8f8f8f;
}

.f-icon{
  padding: 0 25px 30px 0;
}
/* media-query */
@media (max-width: 1028px) {
  .iphone {
    position: static;
    transform: rotate(0);
    text-align: center;
  }
  #title {
    text-align: center;
  }
}
